<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>invoke</td><td>FirstClass.googleSearch()[pri:1, instance:testMaven.FirstClass@11758f2a]<br/>FirstClass.chromeDriver()[pri:0, instance:testMaven.FirstClass@11758f2a]<br/></td></tr>
</table>
