<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>testMaven</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e7b6c">  <td>18/06/20 10:35:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstClass.chromeDriver()[pri:0, instance:testMaven.FirstClass@11758f2a]">chromeDriver</td> 
  <td>main@1134612201</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>18/06/20 10:36:03</td>   <td>6150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstClass.getResult(org.testng.ITestResult)[pri:0, instance:testMaven.FirstClass@11758f2a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1134612201</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>18/06/20 10:36:09</td>   <td>12626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstClass.getResult(org.testng.ITestResult)[pri:0, instance:testMaven.FirstClass@11758f2a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1134612201</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>18/06/20 10:36:03</td>   <td>6154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstClass.googleSearch()[pri:1, instance:testMaven.FirstClass@11758f2a]">googleSearch</td> 
  <td>main@1134612201</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>18/06/20 10:36:09</td>   <td>12660</td> <td title="&lt;&lt;FirstClass.tearDown()[pri:0, instance:testMaven.FirstClass@11758f2a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1134612201</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>18/06/20 10:35:56</td>   <td>-258</td> <td title="&gt;&gt;FirstClass.test1()[pri:0, instance:testMaven.FirstClass@11758f2a]">&gt;&gt;test1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1134612201</td>   <td></td> </tr>
</table>
